<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
      <a href="https://adityanshkapasia.tech" class="navbar-brand">Creator</a>
      <div class="navbar-collapse" id="navbarSupportedContent">
        <!-- Left-aligned menu items -->
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item" *ngIf="isUserLoggedIn">
            <a routerLink="/welcome/adityansh" class="nav-link">Home</a>
          </li>
          <li class="nav-item" *ngIf="isUserLoggedIn">
            <a routerLink="/todos" class="nav-link">Todos</a>
          </li>
        </ul>
        <!-- Right-aligned menu items -->
        <ul class="navbar-nav ms-auto mb-2 mb-md-0">
          <li class="nav-item" *ngIf="!isUserLoggedIn">
            <a routerLink="/login" class="nav-link">Login</a>
          </li>
          <li class="nav-item" *ngIf="isUserLoggedIn">
            <a routerLink="/logout" class="nav-link">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
